<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">New User</li>
  </ol>
</nav>

{{#each user}}
 <form action="/edit_user/{{this.id}}" class="row g-3 needs-validations"method="POST" novalidate>
{{> user-form}}
 </form>
{{/each}}


